# Project libraries
# sos_trades_core
# sostrades_core

# External libraries
Flask==1.1.1
jinja2==3.0.1
gitpython==3.1.43
itsdangerous==2.0.1
jsonpickle==3.0.4
numpy==1.24.4
openpyxl==3.0.7
pandas==2.2.2
rdflib==5.0.0
requests==2.31.0
git+https://github.com/AleksTk/table-logger.git@v0.3.7  # table-logger==0.3.7 not released on pypi
textdistance==4.2.0
werkzeug==2.0.3

# Development requirements
pytest==7.4.3
pytest-cov==4.1.0
pytest-xdist==3.4.0
pytest-durations==1.2.0

# Unused old requirements
# python-gitlab==2.5.0
# PyYAML==5.1.2
# datetime==4.3
# uvicorn==0.15.0
# fastapi==0.70.0
# simplejson>=3.17.5
